@import '~sass/mixines'; 
.loading
	display: table
	margin: auto
	top: 0
	position: fixed
	left: 0
	z-index: 1000
	&:after
		content: ''
		background: rgba(0,0,0,0.5)
		display: block
		
		width: 100vw
		height: 100vh
	img
		width: 100px
		+center(vh)