<app-pathComponent [ruta]="ruta"  ></app-pathComponent>

<div class="container width100">
    <div class="flex borderB white paddingB_22 ">
        <a routerLink="/formas-pago" class="back"></a>
        <h2 class="text-align">{{title}}</h2>
    </div>
</div>
<!-- Error -->
<div *ngIf="!visible" class="container width100">
  <div class="cont-validacion validacion valOrange marginB_0" [ngClass]="{'none': !hide }">
    <span class="ico-alert"></span>
    <p>{{ error }} <span class="bold"></span></p>
    <button class="btn-rojo verMob" (click)="hide =! hide">Aceptar</button>
  </div>
</div>
<!-- /Error -->
<div *ngIf="infoCargada" class="container">
  <div class="flex flex-between flex-wrap flex-dir">
    <div class="marginMob width60 order1">
        <div class="modulo">
           <dl class="flex  flex-between paddingB_20">
             <dt >Saldo</dt>
            <dd class="bold verdeMonedero">${{saldo}}</dd>
           </dl>
           <dl class="flex  flex-between">
            <dt >Por pagar</dt>
           <dd class="bold text-rojo">- ${{monto}}</dd>
          </dl>
          <div class="paddingB_25 paddingT_25">
            <hr class="hrGris ver left0">
           </div>
          <dl *ngIf="visible" class="flex flex-between">
            <dt>Saldo final</dt>
           <dd class="bold primario">${{total}}</dd>
          </dl>
        </div>
        <div class="modulo flex sinBack marginB_0 marginT_20 padding_10 ">
          <button *ngIf="visible" (click)="goConfirm(4466)" class="btn-rojo text-align marginB_0 width50">
            Continuar <i class="right"></i>
          </button>
          <button *ngIf="!visible" (click)="goFormasPago()" class="btn-rojo text-align marginB_0 width50">
            Elige otra forma de pago <i class="right"></i>
          </button>
        </div>
    </div>
    <!-- modulo1 detalle compra-->
    <div class="width40  widthMob ">
        <div class="sticky">
            <div class="marginT_32">
                <div class="detalleCompra">
                    <label for="btn-producto" class="verMob modulo padding_25 borderB">
                        <div class="flex flex-between ">
                            <span>Ver detalles de compra </span>
                            <i class="down"></i>
                        </div>
                    </label>
                    <input type="checkbox" id="btn-producto" hidden>
                    <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
                        <app-detalleCompra #detalle></app-detalleCompra>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

