<div class="modal">
    <div class="cont-modal">
        <div class="msj-modal">

            <p>Se ha añadido un nuevo artículo a tu carrito.</p>
            <p>Hay 3 artículos en tu Carrito.</p> 
            
            <ul class="popUp-btns">
                <li class="order2">
                    <a href="" class="btn-gris"> Ir a carrito</a>
                </li>
                <li class="order1">
                    <a href="" class="btn-rojo ">Seguir comprando</a>  
                </li>
            </ul>
        </div>
        <div class="productos-relacionados">
            <h2>Productos Similares</h2>
                <div class="contProductoSlider">
                    <div class="producto-cont">
                        <div class="cont-img-producto">
                            <img src="assets/reloj.png" alt="">
                        </div>
                    </div>
                    <div class="producto-cont">
                        <div class="cont-img-producto">
                            <img src="assets/reloj.png" alt="">
                        </div>
                    </div>
                    <div class="producto-cont">
                        <div class="cont-img-producto">
                            <img src="assets/reloj.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
       

       
    </div>
</div>