<div class="flex flex-between">
  <div>
    <p class="bold paddingT_0">Facturación</p>
    <div class="paddingT_0 width100">
      <p>{{facturacion.direccion}}, {{facturacion.numeroExterior}}, {{facturacion.colonia}}</p>
      <p>C.P. {{facturacion.codigoPostal}}, {{facturacion.municipio}}, {{facturacion.estado}}</p>
    </div> 
  </div>
</div>