<!--Solo para pago en tienda-->
<div *ngIf="!data.isClickRecoge" class="secInstructions text-align width50 marginB_32">
  <h3 class="bold"> Para realizar tu pago, deberás hacer lo siguiente:</h3>
  <ul class="text-align listaPagos">
    <li class="flex">
      <span class="list-numero">1</span>
      <div class="text-align-left">
        <a href="javascript:window.print(); void 0;" class="link bold">Imprime </a>
         o <span class="bold">muestra </span>este código de barras, ya que es lo que identifica tu compra.
      </div>
    </li>
    <li class="flex">
      <span class="list-numero">2</span>
      <div class="text-align-left">
        <span class="bold">Dirígete </span>a tu tienda Sears o Sanborns más cercana.
      </div>
    </li>
    <li class="flex">
      <span class="list-numero">3</span>
      <div class="text-align-left">
        <span class="bold"> Menciona </span>que es pago de servicio.
      </div>
    </li>
    <li class="flex">
      <span class="list-numero">4</span>
      <div class="text-align-left">
        <span class="bold">Paga </span>el total de tu pedido.
      </div>
    </li>
    <li class="flex">
      <span class="borderNo"></span>
      <span class="list-numero">5</span>
      <div class="text-align-left">
        <span class="bold">Envía </span>copia de tu comprobante
        de pago a la dirección de correo <span class="bold">{{ data.correoDeposito }}</span>
      </div>
    </li>
  </ul>
  <div class="marginT_32 marginB_32">
    <h4 class="bold marginB_25 text-rojo">IMPORTANTE:</h4>
    <p>En caso de no recibir el pago el día <strong>{{ data.fechaCancelacion }}</strong> el pedido será cancelado.</p>
  </div>
</div>
<div *ngIf="data.isClickRecoge" class="secInformacion" >
  <h3 class="bold">IMPORTANTE:</h3>
  <ul>
    <li>
      <p>Te enviaremos un correo para que recojas tu pedido.</p>
    </li>
    <li>
      <p>Tendrás 48 horas para ir por él.</p>
    </li>
    <li>
      <p>Recuerda que al momento de recibir los artículos, se solicitará una identificación oficial.</p>
    </li>
  </ul>
</div>
