<div class="container white paddingT_25 fixPath">
  <div class="header-caja">
    <ul class="path">
      <li [ngClass]="{'active': ruta === 'direccionActiva' || ruta ==='pagosActiva' || ruta === 'confirmacionActiva'}"> Dirección </li>
      <li [ngClass]="{'active': ruta === 'pagosActiva' || ruta === 'confirmacionActiva' }"> Pago </li>
      <li [ngClass]="{'active': ruta === 'confirmacionActiva'}"> Confirmación </li>
    </ul>
  </div>
</div>



