<h3 class="bold marginT_32">Artículos</h3>
<div class="flex paddingB_25 paddingT_25" *ngFor="let producto of productos">
  <div class="productoCarrito">
    <img [src]="producto.url_foto" alt='{{producto.nombre}}'>
  </div>
  <div class="marginL_10">
    <p class="bold">
      {{ producto.nombre }}
    </p>
    <p>Cantidad:
      <span>{{ producto.cantidad }}</span>
    </p>
    <p [style.display] ="none" *ngIf="detalleCompra.descuentoFpago == 0 && producto.precio_lista > productos.precio_venta" >Precio:
      <span class="tachado">$ {{producto.precio_lista | number:'1.2-2'}} </span>
    </p>
    <p>Precio Final:
      <span>$ {{ producto.precio_venta | number:'1.2-2'}}</span>
    </p>
    <!--p>Entrega estimada: {{ producto.tiempoEntrega }}</p-->
  </div>
</div>
