<div class="flex flex-between paddingT_25">
  <div>
    <h3 class="bold paddingT_0">Pago en Tiendas de Conveniencia</h3>
    <div class="paddingT_0 width100" [ngSwitch]="multipedido.formaDePago">
      <img *ngSwitchCase="'2'" src="assets/logo-seven1.svg" alt="Seven eleven">
      <img *ngSwitchCase="'1'" src="assets/logo-oxxo1.svg"  alt="Oxxo">
      <p class="paddingT_25 paddingB_25" >Podrás pagar en cualquier <span *ngSwitchCase="'1'" class="bold">Oxxo</span><span *ngSwitchCase="'2'" class="bold">Seven eleven</span> de la República Mexicana.</p>
      <p class="paddingT_25 paddingB_25" >Al dar clic en <span class="bold">Finalizar Compra</span>, se mostrarán los detalles para hacer tu depósito</p>
    </div>
  </div>
  <div *ngIf="showEdit" class="w50 flex flex-end">
      <div class="table paddingL paddingR_0">  
        <button routerLink="/formas-pago/guardadas" class="btn-blanco verDesk">Editar</button>
        <a routerLink="/formas-pago/guardadas" class="verMob positionR"><span><i class="positionA top_38 right gray"> </i></span></a>
      </div>
  </div>
</div>

