<div *ngIf="!loading" class="modulo padding_10 cupon marginT_0 marginB_0">
  <div class="marginAuto marginT_0 cont-cupon padding_0 marginB_0">
    <div class="flex flex-wrap center">
      <div *ngIf="!showCupon" id="divCajaCupon" class="flex flex-around flex-wrap">
        <p class="marginB_20">Cupón o tarjeta de regalo</p>
        <div class="form-row marginB_10">
          <input [(ngModel)]="codigo" type="text" #validateCupon id="validate-cupon" (input)="setCupon(validateCupon.value)" required>
          <label data-placeholder="*Ingresar cupón" alt="Label"></label>
        </div>
        <div>
          <button class="btn-rojo marginB_0" (click)="validar(validateCupon.value)">Validar</button>
        </div>
      </div>
      <div *ngIf="mensaje && !showCupon" class="width100">
          <div class="marginAuto">
            <div class="cont-validacion validacion valOrange marginB_0 marginL_0" [ngClass]="{'none': !hide }">
              <span class="ico-alert"></span>
              <p>{{ mensaje }}</p>
              <button class="btn-rojo verMob" (click)="hide =! hide">Aceptar</button>
            </div>
        </div>
      </div>
      <ng-template [ngIf]="showCupon">
        <div class="width100 marginT_0 marginB_0">
          <p class="cont-val validacionInfo valVerde width40 marginB_10 marginT_10">¡Cupón válido! Lo verás reflejado después de elegir tu forma de pago.</p>
        </div>
        <div class="flex flex-wrap center cont-cupon">
          <div class="dotLine marginAuto">
            <p>{{codigo}}<p>
            <p>${{importe | number:'1.2-2'}}</p>
          </div>
          <button class="marginL_10 btn-blanco" (click)="eliminarCupon(codigo)">Eliminar cupón</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
