<div class="flex flex-between flex-wrap paddingMob">
  <div class="footer-logo marginB_10"><img src="assets/logo-cs.svg" alt=""></div>
  <p class="marginT_10 marginR_20">Derechos reservados © Claroshop.com, S.A.P.I. de C.V.</p>
</div>
<div class="modulo backNegro flex center paddingB_10 paddingT_10">
  <p> <a href="/terminos-y-condiciones/">Términos y condiciones</a>  |   </p>
  <p> <a href="/aviso-privacidad/">Políticas de privacidad</a></p>
</div>
