
<app-pathComponent [ruta]="ruta"  *ngIf="breadcrumb"></app-pathComponent>

<div class="container width100">
    <div class="borderB white paddingB_22 flex">
      <a *ngIf="id == 0" routerLink="/formas-pago" class="back"></a>
      <a *ngIf="id > 0" routerLink="/formas-pago/guardadas" class="back"></a>
      <h2 class="text-align">{{title}}</h2>
    </div>
    <!-- <div class="modulo flex padding_10 marginT_0 verMob">
        <button class="btn-rojo text-align marginB_0" (click)="save()">Continuar<i class="right"></i> </button>
    </div> -->
  </div>
  <div *ngIf="error" class="container width100">
    <div class="cont-validacion validacion valOrange marginB_0" [ngClass]="{'none': !hide }">
      <span class="ico-alert"></span>
      <p>{{ error }} <span class="bold"></span></p>
      <button class="btn-rojo verMob" (click)="hide =! hide">Aceptar</button>
    </div>
  </div>
  <div class="container">
      <div class="flex flex-around flex-wrap flex-dir">
        <div class="marginMob width60 order1">
          <div class="modulo">
              <div class="flex flex-end">
                  <p class="small grisTxt paddingMobB_32">*Campos obligatorios</p>
              </div>
              <div class="form">
                <div class="slds-card__body slds-card__body_inner">
                  <div class="slds-border_top slds-border_bottom">
                    <div class="card-wrapper paddingB_22"></div>
                    <div class="modulo sinBack marginT_10 padding_0">
                      <form class="slds-form slds-form_compound" card container=".card-wrapper" action="javascript:void(0);">
                        <fieldset class="slds-form-element">
                          <div class="slds-form-element__group">
                            <div class="slds-form-element__row">
                              <div class="slds-form-element form-row">
                                <input [(ngModel)]="tarjeta.numero"
                                    autocomplete="cc-number"
                                    id="number"
                                    type="text"
                                    name="number"
                                    [attr.disabled] = "disabled ? 'true' : null"
                                    [ngClass]="{'error': rules.numero.error }"
                                    (paste)="$event.preventDefault()"
                                    (copy)="$event.preventDefault()"
                                    on-focusout="validateForm('numero')" card-number required />
                                <label data-placeholder="*Número de la tarjeta" alt="Label"></label>
                                <span class="textError" *ngIf="rules.numero.error">Número requerido.</span>
                                <input [(ngModel)]="tarjeta.tipo" id="type" type="hidden" name="type" />
                              </div>
                            </div>

                            <div class="slds-form-element__row">
                              <div class=" slds-size_1-of-2">
                                <div class="slds-form-element form-row">
                                  <input  autocomplete="cc-name" [(ngModel)]="tarjeta.nombre" type="text" name="name" [ngClass]="{'error': rules.nombre.error }" (paste)="$event.preventDefault()" (copy)="$event.preventDefault()" on-focusout="validateForm('nombre')" card-name required/>
                                  <label data-placeholder="*Nombre del titular" alt="Label"></label>
                                  <span class="textError" *ngIf="rules.nombre.error">Nombre requerido.</span>
                                </div>
                              </div>
                            </div>

                            <div [hidden]="isDepartamental">
                              <div class="slds-form-element__row flex flex-between flex-wrap">
                                <div class=" slds-size_1-of-2 col2  ">
                                  <label for="" data-placeholder="MM" class="mesLabel"> *Fecha de Vencimiento: </label>
                                  <div class=" slds-size_1-of-2 vencimiento ">
                                    <div class="slds-form-element form-row ">
                                      <span class="select">
                                        <select  autocomplete="cc-exp-month" name="mes"  on-change="updateExpiry()" [(ngModel)]="expiry.mes" [ngClass]="{'error': rules.vencimiento.error }">
                                          <option value="undefined" disabled selected="true">Mes</option>
                                          <option *ngFor="let mes of meses" [value]="mes.mes" > {{mes.name}}</option>
                                        </select>
                                      </span>
                                      <span class="textError" *ngIf="rules.vencimiento.error">Mes requerido.</span>
                                    </div>
                                    <div class="slds-form-element form-row width100 marginL_10">
                                      <span class="select">
                                        <select autocomplete="cc-exp-year" name="anio" on-change="updateExpiry()" [(ngModel)]="expiry.anio" [ngClass]="{'error': rules.vencimiento.error }">
                                          <option value="undefined" disabled selected="true">Año</option>
                                          <option *ngFor="let anio of anios"  [value]="anio.anio" > {{anio.name}}</option>
                                        </select>
                                      </span>
                                      <span class="textError" *ngIf="rules.vencimiento.error">Año requerido.</span>
                                      <input [(ngModel)]= "expiry.expiry" type="hidden" id="expiry" name="expiry" card-expiry />
                                    </div>
                                  </div>
                                </div>
                                <div [hidden]="isEdit" class=" slds-size_1-of-2 col2 ">
                                  <div class="slds-size_1-of-2">
                                    <div class="slds-form-element form-row topCvv">

                                      <input [(ngModel)]="tarjeta.codigo"
                                        type="text"
                                        name="cvc"
                                        autocomplete="cc-csc"
                                        [attr.disabled] = "disabled ? 'true' : null"
                                        [ngClass]="{'error': rules.codigo.error }"
                                        (paste)="$event.preventDefault()"
                                        (copy)="$event.preventDefault()"
                                        on-focusout="validateForm('codigo'); setStep4($event)"
                                        card-cvc [required]="!isDepartamental"/>

                                      <label data-placeholder="*CVV" alt="Label"></label>
                                      <div class="informativo padding" [attr.data-tooltip]="cvvHelp">
                                        <input id="tip" type="checkbox" checked [checked]="show" (change)="show =! show">
                                        <label for="tip"></label>
                                      </div>
                                      <!-- <p *ngIf="show" class="tool">En caso de ser amex se muestra en la parte frontal de la tarjeta</p> -->
                                      <span class="textError" *ngIf="rules.codigo.error">Codigo requerido.</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="slds-form-element__row cont-btn">
                              <button type="submit" class="btn-rojo text-align" (click)="save()"> Continuar <i class="right"></i></button>
                            </div>
                          </div>
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
        <!-- modulo1 detalle compra-->
        <div class="width40  widthMob ">
            <div class="sticky">
                <div class="marginT_32">
                    <div class="detalleCompra">
                        <label for="btn-producto" class="verMob modulo padding_25 borderB">
                            <div class="flex flex-between ">
                                <span>Ver detalles de compra </span>
                                <i class="down"></i>
                            </div>
                        </label>
                        <input type="checkbox" id="btn-producto" hidden> 

                        <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
                            <app-detalleCompra #detalle></app-detalleCompra>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="modulo flex fixed marginB_0 padding_10 verMob">
        <button class="btn-rojo text-align marginB_0" (click)="save()">Continuar<i class="right"></i> </button>
    </div> -->

 </div>
