<app-pathComponent [ruta]="ruta" ></app-pathComponent>
<div class="container width100">
    <div class="flex borderB white paddingB_22 ">
        <a routerLink="/formas-pago/telmex" class="back"></a>
        <h2 class="text-align">{{title}}</h2>
    </div>
    <!-- <div class=" modulo flex padding_10 marginT_0 verMob">
        <button class="btn-rojo text-align marginB_0" (click)="loginForm()">Continuar<i class="right"></i> </button>
    </div> -->
</div>
<div *ngIf="message" class="container width100">
    <div class="cont-validacion validacion valOrange marginB_0" [ngClass]="{'none': !hide }">
        <span class="ico-alert"></span>
        <p>{{ message }} <span class="bold"></span></p>
        <button class="btn-rojo init verMob" (click)="hide =! hide">Aceptar</button>
    </div>
</div>
<div class="container">
    <div class="flex flex-between flex-wrap flex-dir">
        <div class="width60 order1">
            <div class="modulo">
                <div class="flex flex-end">
                    <p class="small grisTxt paddingB_22">*Campos obligatorios</p>
                </div>
                <div class="form-row">
                    <input [(ngModel)]="direccion.nombre" type="text" [ngClass]="{'error': rules.nombre.error }" on-focusout="validateForm('nombre')" maxlength="50">
                    <label data-placeholder="*Nombre del titular de la línea" alt="Label"></label>
                    <span class="textError" *ngIf="rules.nombre.error">Ingresa Nombre del titular de la línea.</span>
                </div>
                <div class="form-row">
                    <input [(ngModel)]="direccion.direccion" type="text" [ngClass]="{'error': rules.direccion.error }" on-focusout="validateForm('direccion')" maxlength="50">
                    <label data-placeholder="*Calle" alt="Label"></label>
                    <span class="textError" *ngIf="rules.direccion.error">Ingresa la calle.</span>
                </div>
                <div class="flex flex-between flex-wrap ">
                    <div class="form-row col2">
                        <input [(ngModel)]="direccion.numeroExterior" type="text" [ngClass]="{'error': rules.numeroExterior.error }" on-focusout="validateForm('numeroExterior')" maxlength="10">
                        <label data-placeholder="*Número exterior" alt="Label"></label>
                        <span class="textError" *ngIf="rules.numeroExterior.error">Ingresa el número exterior.</span>
                    </div>
                    <div class="form-row col2">
                        <input [(ngModel)]="direccion.numeroInterior" type="text" maxlength="10">
                        <label data-placeholder="Número interior" alt="Label"></label>
                    </div>
                </div>

                <div class="flex flex-between flex-wrap">
                    <div class="form-row col2">
                        <input #codigoPostal="ngModel" [(ngModel)]="direccion.codigoPostal" type="text" [ngClass]="{'error': rules.codigoPostal.error }" on-focusout="getZoning(codigoPostal.value)">
                        <label data-placeholder="*C.P." alt="Label"></label>
                        <span class="textError" *ngIf="rules.codigoPostal.error">Ingresa el código postal.</span>
                    </div>
                    <div class="col2">
                        <button class="btn-azul width100 marginB_32" (click)="getZoning(codigoPostal.value)">Validar Código Postal</button>
                    </div>
                </div>
                <div class="form-row">
                    <input [(ngModel)]="direccion.estado" type="text" disabled="true" [ngClass]="{'error': rules.estado.error }" on-focusout="validateForm('estado')">
                    <label data-placeholder="*Estado" alt="Label"></label>
                    <span class="textError" *ngIf="rules.estado.error">Ingresa el estado.</span>
                </div>

                <div class="form-row">
                    <input [(ngModel)]="direccion.municipio" type="text" disabled="true" [ngClass]="{'error': rules.municipio.error }" on-focusout="validateForm('municipio')">
                    <label data-placeholder="*Municipio" alt="Label"></label>
                    <span class="textError" *ngIf="rules.municipio.error">Ingresa el municipio.</span>
                </div>
                <div class="form-row">
                    <span class="select">
                        <select [(ngModel)]="direccion.colonia" name="colonia" on-change="validateForm('colonia')" [ngClass]="{'error': rules.colonia.error }">
                            <option value="undefined" disabled [attr.selected]="default">Seleccionar colonia</option>
                            <option *ngFor="let col of colonias" [value]="col" [attr.selected]="direccion.colonia == col ? true : null" >{{col}}</option>
                        </select>
                    </span>
                    <span class="textError" *ngIf="rules.colonia.error">Ingresa la colonia.</span>
                </div>
                <div class="form-row">
                    <input [(ngModel)]="direccion.telefono" type="text" [ngClass]="{'error': rules.telefono.error }" on-focusout="validateForm('telefono')" minlength="1" maxlength="10" >
                    <label data-placeholder="*Teléfono Telmex" alt="Label"></label>
                    <span class="textError" *ngIf="rules.telefono.error">Ingresa el teléfono Telmex.</span>
                </div>
                <div class="cont-btn flex-wrap">
                    <button class="btn-blanco width50 order2" routerLink="/formas-pago/telmex">Regresar</button>
                    <button class="btn-rojo text-align width50" (click)="loginForm()">Continuar <i class="right"></i></button>
                </div>
            </div>
        </div>
         <!-- modulo1 detalle compra-->
         <div class="width40  widthMob ">
            <div class="sticky">
                <div class="marginT_32">
                    <div class="detalleCompra">
                        <label for="btn-producto" class="verMob modulo padding_25 borderB">
                            <div class="flex flex-between ">
                                <span>Ver detalles de compra </span>
                                <i class="down"></i>
                            </div>
                        </label>
                        <input type="checkbox" id="btn-producto" hidden> 

                        <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
                            <app-detalleCompra #detalle></app-detalleCompra>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class=" modulo flex fixed marginB_0 padding_10 verMob">
        <button class="btn-rojo text-align marginB_0" (click)="loginForm()">Continuar<i class="right"></i> </button>
    </div> -->
</div>
