<div class="flex flex-between">
  <div>
    <div class="flex">
      <img src="assets/clickRecoge.svg" alt="Click y recoge">
      <h2 class="marginL_10 bold">Recoger en tienda {{sucursal.tienda}}</h2>
    </div>
    <div *ngIf="sucursal" class="paddingT_0 width100">
      <h3 >{{sucursal.tienda}} {{sucursal.nombre}}</h3>
      <p>{{sucursal.direccion}}</p>
      <p class="marginT_10">{{sucursal.horario}}</p>
      <p>({{sucursal.lada}}) {{sucursal.telefono}}</p>
    </div>
  </div>
</div>