@import '~sass/mixines';
@import '~sass/variables';

.modal
    width: 100vw
    height: 100vh
    position: absolute
    background-color: rgba(0,0,0,0.8)
    top: 0px

.cont-modal
    +center(vh)
    background-color: $blanco
    width: 641px
    padding: 20px
    +bx
    height: auto
    position: absolute
    opacity: 1
    overflow: visible
    z-index: 2
    border-radius: 4px
    +mediaMax760
        width: 84%
    h2, p
        text-align: center !important
    .msj-modal
        &:before
            content: "\f00d"
            font-family: "FontAwesome"
            color: $blanco
            font-size: 22px
            // background-color: steelblue
            padding: 4px 6px
            border-radius: 50%
            position: absolute
            top: -12px
            right: -13px
            z-index: 2
            cursor: pointer
            background: rgba(0,204,255,1)
            background: -moz-linear-gradient(left, rgba(0,204,255,1) 0%, rgba(10,134,168,1) 100%)
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,204,255,1)), color-stop(100%, rgba(10,134,168,1)))
            background: -webkit-linear-gradient(left, rgba(0,204,255,1) 0%, rgba(10,134,168,1) 100%)
            background: -o-linear-gradient(left, rgba(0,204,255,1) 0%, rgba(10,134,168,1) 100%)
            background: -ms-linear-gradient(left, rgba(0,204,255,1) 0%, rgba(10,134,168,1) 100%)
            background: linear-gradient(to right, rgba(0,204,255,1) 0%, rgba(10,134,168,1) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ccff', endColorstr='#0a86a8', GradientType=1 )
        +mediaMax760
            &:before
                top: -13px
                right: -9px
        +mediaMax480
            &:after
                content: none
           
    .popUp-btns
        width: 100%
        +flex
        +flexWrap
        margin-left: 70px auto
        overflow: hidden
        +bx
        margin-top: 20px
        margin-bottom: 20px
        +justifyCont(center)
        li
            margin: 0px 10px
            .btn-gris
                +btn($grisN, $grisH)
                &:hover
                    color: $blanco !important
                    background: $grisH
                    transition: background, .3s
            .btn-rojo
                &:hover
                    transition: background, .3s
                    background-color: $rojoMasRojo
        +mediaMax480
            +flexWrap
            li
                +justifyCont(flex-end)
                width: 100%
                .btn-gris
                    width: 100%
                .btn-rojo
                    width: 100%
                    padding-left: 2rem !important
.order1
    order: 2
    +mediaMax480
        order: 1 !important
.order2
    order: 1
    +mediaMax480
        order: 2 !important

.productos-relacionados
    background-color: $grisN
    +bx
    padding: 10px
    width: 280px
    margin: auto
    
    .contProductoSlider
        +flex
        width: 100%
        overflow: hidden
    .producto-cont
        width: 276px
        +bx
        height: 270px
        background-color: white
        position: relative
        &:after
            content: "\f058"
            font-family: "FontAwesome"
            color: $rojoMasRojo
            font-size: 30px
            position: absolute
            top: 4px
            left: 6px
            z-index: 2
            

    .cont-img-producto
        width: 200px
        margin: auto
        img
            width: 100%
            object-fit: scale-down
.flex
    +flex

.flex-wrap
    +flexWrap