<div class="modal">
    <div class="cont-modal">
        <div class="msj-modal">
            <div class="productos-relacionados">
                <div class="contProductoSlider">
                    <div class="producto-cont">
                        <div class="cont-img-producto">
                            <img src="assets/reloj.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <h2>¡Añadido a Wish List!</h2>
            <p>Se ha añadido un artículo a tu Wish List</p> 
            
            <ul class="popUp-btns">
                <li>
                    <a href="" class="btn-rojo ">Seguir comprando</a>  
                </li>
                <li>
                    <a href="" class="btn-gris"> Ir a Wish List</a>
                </li>
            </ul>
        </div>
       
       

       
    </div>
</div>