<app-pathComponent [ruta]="ruta"  ></app-pathComponent>

<div class="container width100">
    <div class="flex borderB white paddingB_22 ">
        <a routerLink="/formas-pago/telmex/cuenta-telmex" class="back"></a>
        <h2 class="text-align">{{title}}</h2>
    </div>
    <!-- <div class="modulo flex padding_10 marginT_0 verMob">
        <button class="btn-rojo text-align marginB_0" (click)="save()">Continuar<i class="right"></i> </button>
    </div> -->
</div>
<div *ngIf="error" class="container width100">
    <div class="cont-validacion validacion valOrange marginB_0" [ngClass]="{'none': !hide }">
        <span class="ico-alert"></span>
        <p>{{ error }} <span class="bold"></span></p>
        <button class="btn-rojo verMob" (click)="hide =! hide">Aceptar</button>
    </div>
</div>

<div class="container minHeight">
    <div class="flex flex-between flex-wrap flex-dir">
        <div class="width60 order1">
            <div class="modulo">
                <p class="paddingB_22">Selecciona las mensualidades y el monto</p>

                <ul class="width100">
                    <ng-container *ngFor= "let mes of mensualidades">
                        <li class="listMeses flex flex-between positionR">
                            <p class="width70">{{mes.mensualidad}} {{mes.mensualidad > 1 ? 'meses de' : 'mes de'}} $ {{mes.pago}} MXN</p>
                            <label>
                                <input type="radio" class="option-input radio" name="meses" [checked]="mensualidad == mes.mensualidad" (click)="setMensualidad(mes.mensualidad)" />
                            </label>
                        </li>
                    </ng-container>
                </ul>

                <div class="cont-btn">
                    <button class="btn-rojo text-align" (click)="save()">Continuar<i class="right"></i></button>
                </div>

            </div>
        </div>
    
        <!-- modulo1 detalle compra-->
          <div class="width40  widthMob ">
            <div class="sticky">
                <div class="marginT_32">
                    <div class="detalleCompra">
                        <label for="btn-producto" class="verMob modulo padding_25 borderB">
                            <div class="flex flex-between ">
                                <span>Ver detalles de compra </span>
                                <i class="down"></i>
                            </div>
                        </label>
                        <input type="checkbox" id="btn-producto" hidden> 

                        <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
                            <app-detalleCompra #detalle></app-detalleCompra>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <div class="modulo flex fixed marginB_0 padding_10 verMob">
        <button class="btn-rojo text-align marginB_0" (click)="save()">Continuar<i class="right"></i> </button>
    </div>
</div>

