
<app-pathComponent [ruta]="ruta"  *ngIf="breadcrumb"></app-pathComponent>

<div class="container width100">
  <div class="borderB white paddingB_22 flex">
    <a *ngIf="id == ''" routerLink="/formas-pago" class="back"></a>
    <a *ngIf="id != ''" routerLink="/formas-pago/guardadas" class="back"></a>
    <h2 class="text-align">{{title}}</h2>
  </div>
  <!-- <div class="modulo flex padding_10 marginT_0 verMob">
      <button class="btn-rojo text-align marginB_0" (click)="save()">Continuar<i class="right"></i> </button>
  </div> -->
</div>
<div *ngIf="error || errorT1pagos" class="container width100">
  <div class="cont-validacion validacion valOrange marginB_0" [ngClass]="{'none': !hide }">
    <span class="ico-alert"></span>
    <p>{{ error }} <span class="bold"></span></p>
    <button class="btn-rojo verMob" (click)="hide =! hide">Aceptar</button>
  </div>
</div>
<div class="container">
  <div class="flex flex-around flex-wrap flex-dir">
    <div class="marginMob width60 order1">
      <div class="modulo">
        <div class="flex flex-end">
          <p class="small grisTxt paddingMobB_32">*Campos obligatorios</p>
        </div>
        <div class="form">
          <div class="slds-card__body slds-card__body_inner">
            <div class="slds-border_top slds-border_bottom">
              <div class="card-wrapper paddingB_22"></div>
              <div class="modulo sinBack marginT_10 padding_0">
                <form class="slds-form slds-form_compound" card container=".card-wrapper" action="javascript:void(0);">
                  <fieldset class="slds-form-element">
                    <div class="slds-form-element__group">
                      <div class="slds-form-element__row">
                        <div class="slds-form-element form-row">
                          <input [(ngModel)]="tarjetaForm.numero"
                                 autocomplete="cc-number"
                                 id="number"
                                 type="text"
                                 name="number"
                                 [attr.disabled] = "disabled ? 'true' : null"
                                 [ngClass]="{'error': rules.numero.error }"
                                 (paste)="$event.preventDefault()"
                                 (copy)="$event.preventDefault()"
                                 on-focusout="validateForm('numero')" card-number required />
                          <label data-placeholder="*Número de la tarjeta" alt="Número de la tarjeta"></label>
                          <span class="textError" *ngIf="rules.numero.error">Número requerido.</span>
                          <input [(ngModel)]="tarjetaForm.tipo" id="type" type="hidden" name="type" />
                        </div>
                      </div>

                      <div class="slds-form-element__row">
                        <div class=" slds-size_1-of-2">
                          <div class="slds-form-element form-row">
                            <input  autocomplete="cc-name" [(ngModel)]="tarjetaForm.nombre" type="text" name="name" [ngClass]="{'error': rules.nombre.error }" (paste)="$event.preventDefault()" (copy)="$event.preventDefault()" on-focusout="validateForm('nombre')" card-name required/>
                            <label data-placeholder="*Nombre del titular" alt="Nombre del titular"></label>
                            <span class="textError" *ngIf="rules.nombre.error">Nombre requerido.</span>
                          </div>
                        </div>
                      </div>

                      <div>
                        <div class="slds-form-element__row flex flex-between flex-wrap">
                          <div class=" slds-size_1-of-2 col2  ">
                            <label for="" data-placeholder="MM" class="mesLabel"> *Fecha de Vencimiento: </label>
                            <div class=" slds-size_1-of-2 vencimiento ">
                              <div class="slds-form-element form-row ">
                                      <span class="select">
                                        <select  autocomplete="cc-exp-month" name="mes"  on-change="updateExpiry()" [(ngModel)]="expiry.mes" [ngClass]="{'error': rules.vencimiento.error }">
                                          <option value="undefined" disabled selected="true">Mes</option>
                                          <option *ngFor="let mes of meses" [value]="mes.mes" > {{mes.name}}</option>
                                        </select>
                                      </span>
                                <span class="textError" *ngIf="rules.vencimiento.error">Mes requerido.</span>
                              </div>
                              <div class="slds-form-element form-row width100 marginL_10">
                                      <span class="select">
                                        <select autocomplete="cc-exp-year" name="anio" on-change="updateExpiry()" [(ngModel)]="expiry.anio" [ngClass]="{'error': rules.vencimiento.error }">
                                          <option value="undefined" disabled selected="true">Año</option>
                                          <option *ngFor="let anio of anios"  [value]="anio.anio" > {{anio.name}}</option>
                                        </select>
                                      </span>
                                <span class="textError" *ngIf="rules.vencimiento.error">Año requerido.</span>
                                <input [(ngModel)]= "expiry.expiry" type="hidden" id="expiry" name="expiry" card-expiry />
                              </div>
                            </div>
                          </div>
                          <div [hidden]="isEdit" class=" slds-size_1-of-2 col2 ">
                            <div class="slds-size_1-of-2">
                              <div class="slds-form-element form-row topCvv">

                                <input [(ngModel)]="tarjetaForm.codigo"
                                       type="text"
                                       name="cvc"
                                       autocomplete="cc-csc"
                                       [attr.disabled] = "disabled ? 'true' : null"
                                       [ngClass]="{'error': rules.codigo.error }"
                                       (paste)="$event.preventDefault()"
                                       (copy)="$event.preventDefault()"
                                       on-focusout="validateForm('codigo'); setStep4($event)"
                                       card-cvc [required]="true"/>

                                <label data-placeholder="*CVV" alt="CVV"></label>
                                <div class="informativo padding" [attr.data-tooltip]="cvvHelp">
                                  <input id="tip" type="checkbox" checked [checked]="show" (change)="show =! show">
                                  <label for="tip"></label>
                                </div>
                                <!-- <p *ngIf="show" class="tool">En caso de ser amex se muestra en la parte frontal de la tarjeta</p> -->
                                <span class="textError" *ngIf="rules.codigo.error">Codigo requerido.</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modulo">
        <app-detallePago *ngIf="isLoadTarjeta" [idFormaPago]="idFormaPago" [tarjeta]="tarjeta" [mensualidad]="mensualidad" [showCode]="showCode" [showEdit]="showEdit" [nombrePromo]="nombrePromo" ></app-detallePago>
        <div *ngIf="!isDireccionFacturacion">
          <div class="paddingB_25 paddingT_25">
            <hr class="hrGris ver">
          </div>
          <h3 class="bold">Dirección del estado de cuenta</h3>
          <div *ngIf="!clickRecoge">
            <p>Usar misma dirección que los datos de envío</p>
          </div>
        </div>
        <div class="flex">
          <div class="width100">

            <!-- Dirección de facturación guardada -->
            <app-direccion-envio
              *ngIf="isLoadDireccion && !show"
              [direccion]="direccion"
              [showEdit]="showEdit"
              [title]="facturacion"
              [isDireccionFacturacion]="isDireccionFacturacion"
              (changeDireccion)="changeDireccion($event)">
            </app-direccion-envio>

            <!-- Botón cambiar dirección -->
            <div *ngIf="!isDireccionFacturacion && !clickRecoge" class="padding paddingL_0 flex flex-between width100">
              <p>Usar otra dirección</p>
              <div class="switch padding">
                <input id="chk01" type="checkbox"  checked [checked]="show" (change)="show =! show">
                <label for="chk01"></label>
              </div>
            </div>

            <!-- Formulario vacío -->
            <div *ngIf="show">
              <div class="form-row">
                <input [(ngModel)]="direccionForm.direccion" type="text" [ngClass]="{'error': rulesDireccion.direccion.error }" on-focusout="validateFormDireccion('direccion')">
                <label data-placeholder="*Calle" alt="Calle"></label>
                <span class="textError" *ngIf="rulesDireccion.direccion.error">Calle requerida.</span>
              </div>
              <div class="flex flex-between flex-wrap">
                <div class="form-row col2">
                  <input [(ngModel)]="direccionForm.numeroExterior" type="text" [ngClass]="{'error': rulesDireccion.numeroExterior.error }" on-focusout="validateFormDireccion('numeroExterior')">
                  <label data-placeholder="*Número exterior" alt="Número exterior"></label>
                  <span class="textError" *ngIf="rulesDireccion.numeroExterior.error">Numero exterior requerido.</span>
                </div>
                <div class="form-row col2">
                  <input [(ngModel)]="direccionForm.numeroInterior" type="text" >
                  <label data-placeholder="Número interior" alt="Número interior"></label>
                </div>
              </div>
              <div class="flex flex-between flex-wrap">
                <div *ngIf="mensaje" class="container width80">
                  <div class="cont-validacion validacion valOrange marginT_10">
                    <p>{{ mensaje }} <span class="bold"></span></p>
                  </div>
                </div>
                <div class="form-row col2">
                  <input #codigoPostal="ngModel" [(ngModel)]="direccionForm.codigoPostal" type="text" [ngClass]="{'error': rulesDireccion.codigoPostal.error }" on-focusout="getZoning(codigoPostal.value, true)">
                  <label data-placeholder="*C.P." alt="C.P."></label>
                  <span class="textError" *ngIf="rulesDireccion.codigoPostal.error">Codigo postal requerido.</span>
                </div>
                <div class="col2">
                  <button class="btn-azul width100 marginB_32" (click)="getZoning(codigoPostal.value, true)">Validar Código Postal</button>
                </div>
              </div>
              <div class="form-row">
                <input [(ngModel)]="direccionForm.estado" type="text" disabled="true" [ngClass]="{'error': rulesDireccion.estado.error }" on-focusout="validateFormDireccion('estado')">
                <label data-placeholder="*Estado" alt="Estado"></label>
                <span class="textError" *ngIf="rulesDireccion.estado.error">Estado requerido.</span>
              </div>
              <div class="form-row">
                <input [(ngModel)]="direccionForm.municipio" type="text" disabled="true" [ngClass]="{'error': rulesDireccion.municipio.error }" on-focusout="validateFormDireccion('municipio')">
                <label data-placeholder="*Municipio" alt="Municipio"></label>
                <span class="textError" *ngIf="rulesDireccion.municipio.error">Municipio requerido.</span>
              </div>
              <div class="form-row">
                <input [(ngModel)]="direccionForm.ciudad" type="text">
                <label data-placeholder="Ciudad" alt="Ciudad"></label>
              </div>
              <div class="form-row">
                <span class="select">
                    <select [(ngModel)]="direccionForm.colonia" name="colonia" on-change="validateFormDireccion('colonia')" [ngClass]="{'error': rulesDireccion.colonia.error }" >
                        <option value="undefined" disabled [attr.selected]="default">Seleccionar colonia</option>
                        <option *ngFor="let col of colonias" [value]="col" [attr.selected]="direccionForm.colonia == col ? true : null" >{{col}}</option>
                    </select>
                </span>
                <span class="textError" *ngIf="rulesDireccion.colonia.error">Colonia requerida.</span>
              </div>
              <!--div class="form-row">
                <input [(ngModel)]="direccionForm.telefono" type="text" class="hidden" minlength="10" maxlength="10" >
                <label data-placeholder="*Teléfono de contacto" alt="Label"></label>
              </div-->
            </div>
          </div>
        </div>
        <div class="slds-form-element__row cont-btn">
          <button type="submit" class="btn-rojo text-align" (click)="save();"> Continuar <i class="right"></i></button>
        </div>
      </div>
    </div>

    <!-- modulo1 detalle compra-->
    <div class="width40  widthMob ">
      <div class="sticky">
        <div class="marginT_32">
          <div class="detalleCompra">
            <label for="btn-producto" class="verMob modulo padding_25 borderB">
              <div class="flex flex-between ">
                <span>Ver detalles de compra </span>
                <i class="down"></i>
              </div>
            </label>
            <input type="checkbox" id="btn-producto" hidden>

            <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
              <app-detalleCompra #detalle></app-detalleCompra>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="modulo flex fixed marginB_0 padding_10 verMob">
      <button class="btn-rojo text-align marginB_0" (click)="save()">Continuar<i class="right"></i> </button>
  </div> -->

</div>
