@import '~sass/mixines';
@import '~sass/variables';
@import '~sass/fonts';
@import '~sass/hacks';

.vencimiento
  +flex
  +justifyCont(space-between)
.marginT_4
  margin-top: 4px
.topCvv
  input[type="text"], select, input[type="password"]
    &:focus,
    &:valid,
    &:disabled
      border: 1px solid $grisClaro
      + label[data-placeholder]
        &:after
          transform: translate(-5%, -300%) scale(0.9, 0.9)
          +safari10
            transform: translate(-5%, -363%) scale(0.9, 0.9)

input[type="checkbox"]
  opacity: 0 !important
  position: absolute


.informativo
  input[type="text"]
    &:focus,
    &:valid,
    &:disabled
      border: 1px solid $grisClaro
      + label[data-placeholder]
        pointer-events: none
        +safari10
          &:after
            transform: translate(0%, -478%)
        +iphone5
          &:after
            transform: translate(0%, -478%)
        +iphone6
          &:after
            transform: translate(0%, -478%)
        +iphone6Plus
          &:after
            transform: translate(0%, -478%)
        +ipad
          &:after
            transform: translate(0%, -478%)
        +ipad3
          &:after
            transform: translate(0%, -478%)

.topCvv
  margin-top: 21px
  input[type="text"], select, input[type="password"]
    + label[data-placeholder]
      &:focus,
      &:valid,
      &:disabled
        +iphone6
          &:after
            transform: translate(0%, -340%)
        +safari10
          &:after
            transform: translate(0%, -340%)
        +iphone5
          &:after
            transform: translate(0%, -340%)
        +iphone6Plus
          &:after
            transform: translate(0%, -340%)
        +ipad
          &:after
            transform: translate(0%, -340%)
        +ipad3
          &:after
            transform: translate(0%, -340%)

  +mediaMax320
    margin-top: 0px
