<div class="flex flex-wrap flex-between flex-start">
<div *ngFor="let tarjeta of tarjetas" class="width30 modulo marginR_15">
	<div class="marginB_0 minH_290">
		<div class="flex paddinbB_10 paddingL_0">
			<div class="width60 flex">
				<i *ngIf="tarjeta.predet == 1" class="star"></i>
				<p (click)="default(tarjeta)"
					[ngClass]="{'predeterminada': tarjeta.predet == 1, 'noPredeterminada': tarjeta.predet == 0 }" >
					{{tarjeta.predet == 0 ? 'Establecer como predeterminada' : 'Predeterminada'}}
				</p>
			</div>
			<div class="">
				<div class="widthLogo">
					<p><img class="width100" src="{{imageCard(tarjeta.tipo)}}" alt="{{tarjeta.tipo}}"></p>
				</div>
			</div>
		</div>
			<div class="flex flex-between">
				<div class="flex">
					<div class="paddingR_32 width100">
					<p class="bold">{{tarjeta.nombre}} {{tarjeta.apellido}}</p>
					<p class="flex flex-between">
						<span>{{formatCard(tarjeta.digitos, tarjeta.tipo)}}</span>
					</p>
					<ng-container *ngIf="tarjeta.tipo !== 'sears' && tarjeta.tipo !== 'sanborns' " >
					<p >Vencimiento {{tarjeta.mes}}/{{tarjeta.anio}}</p>
					</ng-container>
				</div>
					<div class="width40">
					<button class="btn-blanco" (click)="edit(tarjeta)">Editar</button>
					<button class="btn-blanco" (click)="delete(tarjeta)">Eliminar</button>
					</div>
				</div>
			</div>
			<div class="positionA padding_10 paddingL_0">
			<button class="btn-rojo  marginB_0" (click)="setPago(tarjeta.id, tarjeta.idFormaPago)" >Continuar<i class="right"></i> </button>
		</div>
	</div>
</div>
</div>
