<script src="formas-pago.component.ts"></script>
<app-pathComponent [ruta]="ruta"  ></app-pathComponent>

<div class="container width100">
    <div class="flex borderB white paddingB_22 ">
        <a routerLink="{{url}}" class="back"></a>
        <h2 class="text-align">{{title}}</h2>
    </div>
</div>

<div *ngIf="error" class="container width100">
  <div class="cont-validacion validacion valOrange marginB_0" [ngClass]="{'none': !hide }">
    <span class="ico-alert"></span>
    <p>{{ error }} <span class="bold"></span></p>
    <button class="btn-rojo verMob" (click)="hide =! hide">Aceptar</button>
  </div>
</div>

<div class="container minHeight">
    <div class="flex flex-between flex-wrap flex-dir">
         <!-- modulo1 detalle formas de pago-->
        <div class="marginMob width60 order1">
            <div *ngIf="tdcError"  class="tRechazada">
              <!-- Tarjetas guardadas -->
                <app-tarjetaRechazada></app-tarjetaRechazada>
            </div>
            <div class="modulo sinBack padding_0">
                <ul>
                    <ng-container *ngFor="let formaDePago of formasDePago " >
                        <li class="pagos" >
                            <a class="noLink" (click)="setFormaDePago(formaDePago.idFormadePago)">
                            <div class="cont-img-pagos">
                                <img src="{{assets[formaDePago.idFormadePago]?.img}}" alt="{{assets[formaDePago.idFormadePago]?.name}}" class="imgPagos">
                            </div>
                            <div class="forma-pago">
                                {{assets[formaDePago.idFormadePago]?.name}} <span><i class="right gray"> </i></span>
                            </div>
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <!--======================-->
            <!-- modulo Cupón-->
            <!--======================-->
            <div class="container width100 verMob">
                <app-cupon></app-cupon>
            </div>
        </div>
        <!-- modulo1 detalle compra-->
        <div class="width40  widthMob ">
            <div class="sticky">
                <div class="marginT_32">
                    <div class="detalleCompra">
                        <label for="btn-producto" class="verMob modulo padding_25 borderB">
                            <div class="flex flex-between ">
                                <span>Ver detalles de compra </span>
                                <i class="down"></i>
                            </div>
                        </label>
                        <input type="checkbox" id="btn-producto" hidden>

                        <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
                            <app-detalleCompra #detalle></app-detalleCompra>
                        </div>
                        <div class="verDesk">
                          <app-cupon></app-cupon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

