@import '~sass/mixines';
@import '~sass/variables';

.noLink
  text-decoration: none
  color: $negro
.container
  .width100
    width: 100%
.pagos
  +bx
  +shadow($type: box , $s1: 1px, $s2: 2px, $s3: 10px, $alpha: rgba(0,0,0,0.1))
  // padding: $spacer/2
  margin-bottom: $min-spacer
  position: relative
  background-color: $blanco
  cursor: pointer
  .cont-img-pagos
    width: 260px
    margin: auto
    padding-left: 10px
    .imgPagos
      background-size: contain
      max-width: 180px
      +flex
      margin: auto
      height: 100%
  a
    +flex
    width: 100%
    padding: 3px 18px
    +bx
  .forma-pago
    width: 100%
    +bx
    padding: $min-spacer
    +flex
    +justifyCont(space-between)
    i
      border: solid $gris
      border-width: 0 1px 1px 0
      padding: 8px
      width: 0px
      height: 0px

+mediaMax960
  .cont-img-pagos
    max-width: 60px
    background-size: contain
    overflow: hidden
    .imgPagos
      width: 100%
  .forma-pago
    width: 98%

