
<div *ngIf="infoCargada" class="modulo marginB_0 paddingL_0 paddingR_0">
  <h3 class="bold">Tu compra</h3>
  <!-- modulo articulos -->
  <div class="flex borderB paddingB_25 paddingT_25"
       *ngFor="let key of productosKeys">
    <div class="productoCarrito">
      <img [src]="detalleCompra?.productos[key]?.url_foto" alt='{{ detalleCompra?.productos[key]?.nombre }}'>
    </div>
    <div class="marginL_10">
      <p class="bold">          {{ detalleCompra?.productos[key]?.nombre }}</p>
      <p>Cantidad: <span>        {{ detalleCompra?.productos[key]?.cantidad }}</span></p>
      <p *ngIf="detalleCompra.descuentoFpago > 0 ">
        Precio:
        <span class="tachado">$ {{ detalleCompra?.productos[key]?.precio_lista | number:'1.2-2' }}</span></p>
      <p>Precio Final: <span>$   {{ detalleCompra?.productos[key]?.precio_venta | number:'1.2-2' }}</span></p>
      <!--p>Entrega estimada: {{ detalleCompra?.productos[key]?.tiempoEntrega }} </p-->
    </div>
  </div>

  <div class="flex flex-around paddingT_25 paddingB_0">
    <div class="width50">
      <p>Subtotal:</p>
      <p>Costo de envío:</p>
      <p *ngIf="detalleCompra?.descuentoCupon > 0">Cupón:</p>
      <p class="bold text-rojo">Total:</p>
    </div>
    <div class="width50 marginRm_5 text-align-right">
      <p> $ {{ detalleCompra?.subtotal        | number:'1.2-2' }}</p>
      <p> $ {{ detalleCompra?.costoEnvio      | number:'1.2-2' }}</p>
      <p *ngIf="detalleCompra?.descuentoCupon > 0" class="text-rojo">
        - $ {{ detalleCompra?.descuentoCupon  | number:'1.2-2' }}</p>
      <p class="bold text-rojo">
          $ {{ detalleCompra?.total           | number:'1.2-2' }}</p>
    </div>
  </div>
  <!--div class="text-align padding_25"-->
  <!--app-captcha></app-captcha-->
</div>
<!--app-spinner *ngIf="loading"></app-spinner-->

