<app-pathComponent [ruta]="ruta"  ></app-pathComponent>
<div class="container width100">
    <div class="borderB white paddingB_22 flex">
        <a (click)="routerBack()" class="back"></a>
        <h2 class="text-align">{{title}}</h2>
    </div>
    <!-- <div class=" modulo flex padding_10 marginT_0 verMob">
        <button class="btn-rojo text-align marginB_0" (click)="save()">Continuar<i class="right"></i> </button>
    </div> -->
</div>
<div class="container">
    <div class="flex flex-around flex-wrap flex-dir">
        <div class="marginMob width60 order1">
            <div class="modulo">
                <app-detallePago *ngIf="isLoadTarjeta" [idFormaPago]="idFormaPago" [tarjeta]="tarjeta" [mensualidad]="mensualidad" [showCode]="showCode" [showEdit]="showEdit" [nombrePromo]="nombrePromo" ></app-detallePago>

                <div class="paddingB_25 paddingT_25">
                    <hr class="hrGris ver">
                </div>

                <div>
                    <p>Usar misma dirección que los datos de envío</p>
                </div>
                <div class="flex">
                    <div class="width100">
                        <app-direccion-envio *ngIf="!clickRecoge && isLoadDireccion" [direccion]="direccion" [showEdit]="showEdit"></app-direccion-envio>
                        <app-sucursal *ngIf="clickRecoge && isLoadSucursal" [sucursal]="sucursal"></app-sucursal>
                        <div class="padding paddingL_0 flex flex-between width100">
                           <p>Usar otra dirección</p>
                           <div class="switch padding">
                                <input id="chk01" type="checkbox"  checked [checked]="show" (change)="show =! show">
                                <label for="chk01"></label>
                            </div>
                        </div>
                        <div *ngIf="show" >
                            <div class="form-row">
                                <input [(ngModel)]="direccionForm.direccion" type="text" [ngClass]="{'error': rules.direccion.error }" on-focusout="validateForm('direccion')">
                                <label data-placeholder="*Calle" alt="Label"></label>
                                <span class="textError" *ngIf="rules.direccion.error">Calle requerida.</span>
                            </div>
                            <div class="flex flex-between flex-wrap">
                                <div class="form-row col2">
                                    <input [(ngModel)]="direccionForm.numeroExterior" type="text" [ngClass]="{'error': rules.numeroExterior.error }" on-focusout="validateForm('numeroExterior')">
                                    <label data-placeholder="*Número exterior" alt="Label"></label>
                                    <span class="textError" *ngIf="rules.numeroExterior.error">Numero exterior requerido.</span>
                                </div>
                                <div class="form-row col2">
                                    <input [(ngModel)]="direccionForm.numeroInterior" type="text" >
                                    <label data-placeholder="Número interior" alt="Label"></label>
                                </div>
                            </div>
                            <div class="flex flex-between flex-wrap">
                                    <div *ngIf="error" class="container width80">
                                        <div class="cont-validacion validacion valOrange marginT_10">
                                            <p>{{ mensaje }} <span class="bold"></span></p>
                                        </div>
                                    </div>
                                    <div class="form-row col2">
                                        <input #codigoPostal="ngModel" [(ngModel)]="direccionForm.codigoPostal" type="text" [ngClass]="{'error': rules.codigoPostal.error }" on-focusout="getZoning(codigoPostal.value)">
                                        <label data-placeholder="*C.P." alt="Label"></label>
                                        <span class="textError" *ngIf="rules.codigoPostal.error">Codigo postal requerido.</span>
                                    </div>
                                    <div class="col2">
                                        <button class="btn-azul width100 marginB_32" (click)="getZoning(codigoPostal.value)">Validar Código Postal</button>
                                    </div>
                            </div>
                            <div class="form-row">
                                <input [(ngModel)]="direccionForm.estado" type="text" disabled="true" [ngClass]="{'error': rules.estado.error }" on-focusout="validateForm('estado')">
                                <label data-placeholder="*Estado" alt="Label"></label>
                                <span class="textError" *ngIf="rules.estado.error">Estado requerido.</span>
                            </div>
                            <div class="form-row">
                                <input [(ngModel)]="direccionForm.municipio" type="text" disabled="true" [ngClass]="{'error': rules.municipio.error }" on-focusout="validateForm('municipio')">
                                <label data-placeholder="*Municipio" alt="Label"></label>
                                <span class="textError" *ngIf="rules.municipio.error">Municipio requerido.</span>
                            </div>
                            <div class="form-row">
                                <span class="select">
                                    <select [(ngModel)]="direccionForm.colonia" name="colonia" on-change="validateForm('colonia')" [ngClass]="{'error': rules.colonia.error }" >
                                        <option value="undefined" disabled [attr.selected]="default">Seleccionar colonia</option>
                                        <option *ngFor="let col of colonias" [value]="col" [attr.selected]="direccionForm.colonia == col ? true : null" >{{col}}</option>
                                    </select>
                                </span>
                                <span class="textError" *ngIf="rules.colonia.error">Colonia requerida.</span>
                            </div>
                       </div>
                    </div>
                </div>

                <div class="flex cont-btn">
                    <button class="btn-rojo text-align marginB_0 marginL_0" (click)="save()" >Continuar<i class="right"></i></button>
                </div>

            </div>
        </div>
        <!-- modulo1 detalle compra-->
        <div class="width40  widthMob ">
            <div class="sticky">
                <div class="marginT_32">
                    <div class="detalleCompra">
                        <label for="btn-producto" class="verMob modulo padding_25 borderB">
                            <div class="flex flex-between ">
                                <span>Ver detalles de compra </span>
                                <i class="down"></i>
                            </div>
                        </label>
                        <input type="checkbox" id="btn-producto" hidden>

                        <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
                            <app-detalleCompra #detalle></app-detalleCompra>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class=" modulo flex fixed marginB_0 padding_10 verMob">
            <button class="btn-rojo text-align marginB_0" (click)="save()" >Continuar<i class="right"></i> </button>
        </div>  -->
    </div>
</div>






