<div class="flex flex-between">
  <div>
    <h3 class="bold paddingT_0">Depósito Bancario</h3>
    <div class="paddingT_0 width100" [ngSwitch]="nombreBanco" >
      <img *ngSwitchCase="'banamex'"    src="assets/logo-banamex.svg"   alt="Citibanamex">
      <img *ngSwitchCase="'santander'"  src="assets/logo-santander.svg" alt="Santander">
      <img *ngSwitchCase="'inbursa'"    src="assets/logo-inbursa.svg"   alt="Inbursa">
      <img *ngSwitchCase="'bancomer'"   src="assets/logo-bancomer.svg"  alt="BBVA">
      <p class="paddingT_25 paddingB_25">Podrás pagar en cualquier sucursal {{ (nombreBanco == 'banamex' ? 'citibanamex' : nombreBanco == 'bancomer' ? 'BBVA' : nombreBanco) | titlecase }}</p>
    </div>
  </div>
  <div *ngIf="showEdit" class="w50 flex flex-end">
      <div class="table paddingL paddingR_0"> 
        <button routerLink="/formas-pago" class="btn-blanco verDesk">Editar</button>
        <a routerLink="/formas-pago/guardadas" class="verMob positionR"><span><i class="positionA top_20 right gray"> </i></span></a>
      </div>
      
  </div>
</div>