<div class="flex flex-between">
  <div>
    <h3 class="bold paddingT_0">{{title}}</h3>
    <div class="paddingT_0 width100">
      <p>{{direccion.direccion}}, {{direccion.numeroExterior}}, {{direccion.colonia}}</p>
      <p>C.P. {{direccion.codigoPostal}}, {{direccion.municipio}}, {{direccion.estado}}</p>
    </div>
  </div>
  <div *ngIf="showEdit" class="w50 flex flex-end">
    <div class="table paddingL paddingR_0">
      <!--button routerLink="/direcciones/detalle/{{direccion.id}}" class="btn-blanco">Editar</button-->
      <button routerLink="/direcciones" class="btn-blanco verDesk">Editar</button>
      <a routerLink="/direcciones" class="verMob" > <span><i class="right gray"> </i></span></a>
    </div>
  </div>
  <div *ngIf="isDireccionFacturacion" class="w50 flex flex-end">
    <div class="table paddingL paddingR_0">
      <!--button routerLink="/direcciones/detalle/{{direccion.id}}" class="btn-blanco">Editar</button-->
      <button (click)="showFormDireccion(show =! show)" class="btn-blanco verDesk">Editar</button>
      <a (click)="showFormDireccion(show =! show)" class="verMob" > <span><i class="right gray"> </i></span></a>
    </div>
  </div>
</div>
