<app-pathComponent></app-pathComponent>
<div class="container width100">
  <div class="borderB white paddingB_22 flex">
    <a routerLink="{{ url }}" class="back"></a>
    <h2 class="text-align">{{title}}</h2>
  </div>
</div>
<div *ngIf="error" class="container width100">
  <div class="cont-validacion validacion valOrange marginB_0">
    <span class="ico-alert"></span>
    <p>Lo sentimos el código es incorrecto</p>
  </div>
</div>    
<div class="container">
  <div class="flex flex-between">
    <div class="marginMob width60">
      <div class="modulo minHeight">
        <div class="form-row paddingT_32 paddingB_32">
          <input [(ngModel)]="codigo" type="text" [ngClass]="{'error': rules.codigo.error }" on-focusout="validateForm()" maxlength="12">
          <label data-placeholder="*Código Transfer" alt="Label"></label>
          <span class="text-azul" *ngIf="!rules.codigo.error">Código de 12 digitos.</span>
          <span class="textError" *ngIf="rules.codigo.error">Ingresa los doce dígitos de tu código Transfer.</span>
        </div> 
        <div class="paddingB_32">
          <p>Solicita tu código transfer vía App (Disponible para iOS y Android), o  enviando un SMS al 4040 con la palabra "Código" Espacio y monto a pagar.</p>
        </div>
        <div class="cont-btn">
          <button class="btn-rojo text-align width50" (click)="save()">Continuar<i class="right"></i></button>
        </div>
      </div>
    </div>
    <!-- modulo1 detalle compra-->
    <div class="width40  widthMob ">
      <div class=" sticky">
        <div class="modulo verDesk padding32 paddingB_0 paddingT_0">
          <app-detalleCompra class="verDesk"></app-detalleCompra>  
        </div>
      </div>
    </div>  
  </div>
</div>
<app-spinner *ngIf="loading"></app-spinner>