
@import '~sass/mixines';
@import '~sass/variables';

.imgPagos
    background-size: contain
    max-width: 50px
    width: 100%
    +flex
    margin: 0
    padding: 0px
    height: 100%
.Informativo
    position: relative
    padding-top: 0px
    // padding-bottom: 32px
    &:after
        +fawesome('\f06a')
        position: absolute
        color: black
        top: 10px
        right: 10px
    &:hover
        &:before
            content: attr(data-tooltip)
            background-color: lightgray
            text-align: center
            top: 41px
            right: 0px
            width: auto
            padding: 4px
            border-radius: 4px
            position: absolute


@import '~sass/mixines';
@import '~sass/variables';
@import '~sass/hacks'; 

.imgPagos
    background-size: contain
    max-width: 50px
    width: 100%
    +flex
    margin: 0
    padding: 0px
    height: 100%
.form-row
    +safari10
        label
            bottom: 52px

input[type="text"], select, input[type="password"]
    +safari10
        input[type="text"]
            + label[data-placeholder]
                &:after
                    transform: translate(0%, -340%)
.Informativo
    position: relative
    padding-top: 0px
    // padding-bottom: 32px
    &:after
        +fawesome('\f06a')
        position: absolute
        color: black
        top: 10px
        right: -23px
    &:hover
        &:before
            content: attr(data-tooltip)
            background-color: lightgray
            text-align: center
            top: 0px
            right: -297px
            width: auto
            max-width: 256px
            padding: 4px
            border-radius: 4px
            position: absolute
        +mediaMax480
            &:before
                top: 40px
                right: -0px
                width: auto !important
    

    input[type="text"], select, input[type="password"]
        +safari10
            input[type="text"]
                + label[data-placeholder]
                    &:after
                        transform: translate(0%, -340%)
        +iphone5
            input[type="text"]
                + label[data-placeholder]
                    &:after
                        transform: translate(0%, -340%)
        +iphone6
            input[type="text"]
                + label[data-placeholder]
                    &:after
                        transform: translate(0%, -340%)
        +iphone6Plus
            input[type="text"]
                + label[data-placeholder]
                    &:after
                        transform: translate(0%, -340%)
        +ipad
            input[type="text"]
                + label[data-placeholder]
                    &:after
                        transform: translate(0%, -340%)
        +ipad3
            input[type="text"]
                + label[data-placeholder]
                    &:after
                        transform: translate(0%, -340%)

        &:focus,
        &:valid,
        &:disabled
            border: 1px solid $grisClaro
            + label[data-placeholder]
                &:after
                    transform: translate(-5%, -310%) scale(0.9, 0.9)
                    color: $grisLabel
                    background-color: white
                    +firefox
                        translate(-5%, -208%) scale(0.9, 0.9)
                    +safari10
                        transform: translate(-5%, -333%) scale(0.9, 0.9)
                    +iphone5
                        transform: translate(-5%, -333%) scale(0.9, 0.9)
                    +iphone6
                        transform: translate(-5%, -179%) scale(0.9, 0.9)
                    +iphone6Plus
                        transform: translate(-5%, -289%) scale(0.9, 0.9)
                    +ipad
                        transform: translate(-5%, -333%) scale(0.9, 0.9)
                    +ipad3
                        transform: translate(-5%, -333%) scale(0.9, 0.9)
        &.error
            border: 1px solid $error
            border-radius: 4px
            // background: rgba($error,0.1)
            font-weight: 500
            +placeholder
                font-weight: 500
            + label
                color: $error
                +safari10
                    margin-bottom: 31px !important
                +iphone5
                    margin-bottom: 31px !important
                +iphone6
                    margin-bottom: 5px !important
                +iphone6Plus
                    margin-bottom: 6px !important
                +ipad
                    margin-bottom: 12px !important
                +ipad3
                    margin-bottom: 5px !important