<div class="flex flex-between">
    <div>
        <h3 class="bold">{{paymentTitle}}</h3>
        <div class="paddingT_0 width100">
            <p>{{tarjeta.nombre}} {{tarjeta.apellido}}</p>
            <div class="flex flex-wrap align-items">
                <img class="imgPagos"src="{{imageCard(tarjeta.tipo)}}" alt="">
                {{formatCard(tarjeta.digitos, tarjeta.tipo)}}
            </div>
            <p *ngIf="tarjeta.tipo !== 'sears' && tarjeta.tipo !== 'sanborns'">Vencimiento <span>{{tarjeta.mes}} / {{tarjeta.anio}}</span></p>
            <p *ngIf="tarjeta.tipo == 'sears' && mensualidad > 1"> {{mensualidad}} Pagos mensuales de ${{ montoPago | number:'1.2-2' }} </p>
            <p *ngIf="tarjeta.tipo !== 'sears' && mensualidad > 1" >{{mensualidad}} meses sin intereses</p>
            <p *ngIf="mensualidad <= 1" >{{nombrePromo}}</p>
        </div>
        <!--=============================-->
        <!-- Direccion facturacion -->
        <!-- ============================-->
        <app-direccion-facturacion *ngIf="tarjeta.tipo !== 'sears' && tarjeta.tipo !== 'sanborns' && facturacion?.direccion" [facturacion]="facturacion"></app-direccion-facturacion>
    </div>
    <div *ngIf="showEdit" class="w50 flex flex-end">
        <div class="table paddingL paddingR_0">   
            <!--button routerLink="/formas-pago/tarjetas/{{tarjeta.id}}" class="btn-blanco">Editar</button-->
            <button routerLink="/formas-pago/guardadas" class="btn-blanco verDesk">Editar</button>
            <a routerLink="/formas-pago/guardadas" class="verMob positionR"><span><i class="positionA top_20 right gray"> </i></span></a>
            
            
            
        </div>
    </div>
</div>

<div *ngIf="showCode" class="form padding paddingB_20 paddingL_0">
    <div class="slds-form-element__row">
        <div class="slds-form-element form-row width200">
            <div class="Informativo"  [attr.data-tooltip]="cvvHelp">
                <input #cvv [(ngModel)]="checkout.codigo" autocomplete="off" type="text" name="cvv"  id="cvv" maxlength="{{tarjeta.tipo === 'amex' ? '4' : '3'}}" (keyup)="validateCvv(undefined)" [ngClass]="{'error': rules.codigo.error }" card-cvc required/>
                <label data-placeholder="CVV" alt="Label"></label>
            </div>
            <input [(ngModel)]="checkout.deviceFinger" type="hidden">
        </div>
    </div>
</div>
<!--app-captcha #captcha [captcha]="captcha" (validate)="validateCvv($event)"></app-captcha-->
