<div *ngIf="message" class="container width100 verDesk">
  <div class="cont-validacion validacion valOrange marginB_0">
      <span class="ico-alert"></span>
      <p>{{ message }} <span class="bold"></span></p>
  </div>
</div>
