<!-- Logotipo  y Menú -->
<div class="maxWidth600 paddingT_16 marginB_10 paddingMob">
  <div class="width50 flex center headerMail">
    <a class="link" href="/mi-cuenta/mis-pedidos/1/">Mis pedidos</a>
    <a class="link" href="/mi-cuenta/mis-datos/"> Mi cuenta</a>
    <a  class="link" href="/"> Claroshop.com</a>
  </div>
</div>
