@import '~sass/mixines';
@import '~sass/variables';
@import '~sass/reset';
@import '~sass/fonts';
@import '~sass/hacks';

$primario: #E2231A
$azul: #1f97af
$fontPrin2: 'Muli', helvetica, sans-serif

.flex
  +flex
=mediaMax480
  @media only screen and (max-width: 480px)
    @content
.rojoMasrojo
  color: #FF283D
.moduloTP
  padding: 20px
  +bx
  background-color: #ffffff
p
  font-size: 16px
  color: #535353
  font-weight: 500
  text-align: left
  line-height: 20px
  font-family: $fontPrin2
  &.bloque1
    font-size: 18px
    font-weight: 500
  &.bloque2
    font-size: 16px
    font-weight: 700
  .font20
    font-size: 20px
  .nombre
    font-size: 20px
    font-weight: 700
    // color: $primario
  .text-claro
    color: #b0b0b0
.maxWidth800
  max-width: 800px
  width: 100%
  margin: auto
.maxWidth600
  max-width: 800px
  width: 100%
  margin: auto
.align-right
  text-align: right
.ico-page
  width: 19px
  margin-right: 10px
  object-fit: scale-down
.ico-gracias
  width: 30px
  margin-right: 20px
  margin-top: -3px
  object-fit: scale-down
  +mediaMax480
    width: 40px
    margin-top: 0px
  img
    width: 100%
.ico-pago
  width: 50px
  margin-right: 20px
  object-fit: scale-down
  img
    width: 100%

.cont-cart
  position: relative
  width: 30px
  height: 20px
  cursor: pointer
  .ico-cart
    position: absolute
    width: 35px
    right: -5px
    top: 3px
.noPedido
  +flex
  +flexWrap
  +justifyCont(space-between)
  +mediaMax480
    .bloque1
      width: 100%
.text-rojo
  color: $primario
.text-azul
  color: #5c9be3
  a
    color: #5c9be3
.link
  a
    color: $azul !important
    cursor: pointer
.noDecoration
  p
    color: #b0b0b0
  a
    color: #535353 !important
    text-decoration: none
    font-weight: 700

.bordeCaja
  border: 1px solid #ddd !important
.btn-rojo
  +btn($bg:$primario, $color: $blanco, $borde: 1px solid $blanco, $ancho: table, $border-radius: 4px)
  min-width: 100px
  +mediaMax480
    padding: 0.7rem 3rem
      margin-top: 20px
.marginT_20
  margin-top: 20px !important
.marginB_20
  margin-bottom: 20px !important
.marginR_10
  margin-right: 10px
  +mediaMax480
    margin: auto
.marginL_10
  margin-left: 10px
  +mediaMax480
    margin: auto
.marginL_20
  margin-left: 20px
.marginR_5
  margin-right: 5px !important
.marginL_5
  margin-left: 5px !important
.marginR_0
  margin-right: 0px !important
.marginL_0
  margin-left: 0px !important
.zebra
  background: #fafafa
  &:nth-child(odd)
    background: #fafafa


.pedido
  margin: 0px auto
  text-align: center

.tabla
  +flex
  +flexWrap
  +justifyCont(space-between)
  border-bottom: 1px solid #ddd
  border-top: 1px solid #ddd
  padding: 10px 0px

.center
  margin: 0px auto

.modulo
  &.backGris
    background-color: #f2f2f2
  &.backNegro
    background-color: #222222
    a
      color: white
.padding
  padding: $min-spacer
.paddingT_10
  padding-top: 10px
.paddingT_16
  padding-top: $min-spacer
h3
  font-size: 20px
  color: #b0b0b0
.cont-img
  width: 80px
  max-height: 80px
  max-width: 100%
  border: 1px solid #ddd
  border-radius: 4px
  margin-left: 15px
  img
    width: 100%
    object-fit: scale-down
.cont-carousel
  +flex
  justify-content: space-between
.formaPago
  +flex
  +justifyCont(space-between)
  margin-bottom: 20px
  width: 100%
  +mediaMax480
    +flexWrap

.width70
  width: 70%
  +mediaMax480
    width: 100%
    .btn-rojo
      margin-top: 10px
.width30
  width: 30%
  background-color: white
  border: 1px solid #ddd
  margin: 10px
  position: relative
  +mediaMax480
    width: 100%
  p
    padding: $min-spacer
    margin: auto
    text-align: center
.wishlistButton
  position: absolute
  display: block
  top: 10px
  right: 10px
  cursor: pointer
  z-index: 2
  &:before
    content: '\f004'
    font-family: "FontAwesome"
    font-size: 20px
    color: #c0bebf
    &:hover
      color: #FF283D
  &.active
    &:before
      color: $rojoMasRojo
.cont-img2
  max-width: 100%
  margin: auto
  text-align: center
  img
    width: 100%
    max-width: 200px

.articulosImg
  width: 120px
.articulosDesc
  width: calc(100% - 306px)
  +mediaMax480
    width: 50%
.articulosPrecio
  width: 120px
  p
    text-align: right


// info de producto para carrusel

.info-producto
  +flex
  position: relative
  width: 100%
  padding: 0 10px
  +bx
  .precioLista
    width: 100%
    color: #888
    text-decoration: line-through
    p
      color: #888
.info-precios
  min-width: 188px
  max-width: 188px
  height: 42px
  +flex
  color: #000000
  font-size: 1.2rem
  min-height: 25px
  font-weight: 500
  padding: 0px 10px
  position: absolute
  bottom: 0px
  +bx
  .precioDesc
    min-height: 25px
    color: #000000
    p
      font-size: 1.2rem
      padding-right: 10px
      padding-top: 3px
  .descTex
    background-color: #ff283d
    padding: 3px
    width: auto
    border-radius: 4px
    height: 22px
    span
      font-size: 0.8rem
      color: #fff
      padding: 0

.text
  text-align: center
  font-size: 20px
  color: black
  width: 80%
  margin: auto
    padding-top: 10px
  height: 40px
  overflow: hidden

.descripPago,
.desglosePago
  +flex
  +mediaMax480
    +flexWrap
.desglosePago
  +justifyCont(flex-end)

.footer-logo
  width: 200px
  margin-left: 20px
  +mediaMax480
    margin-left: 0px !important
.headerMail
  a
    margin: 10px
    color: $azul
.marginR_20
  margin-right: 20px

+mediaMax480
  .paddingMob
    padding: 10px
    box-sizing: border-box
  .marginAuto
    margin: 0px auto
    justify-content: center
  .btn-ped
    margin-top: 10px !important

.pagos
  display: inline-flex
  width: auto
  margin-right: 20px !important
  +mediaMax480
    width: 100%
.desglose
  width: 50%
  +mediaMax480
    width: 100%
.cont-cart
  position: relative
  width: 30px
  height: 20px
  cursor: pointer
  .ico-cart
    position: absolute
    width: 35px
    right: -52px
    top: 3px
