<div class= "header-thankyou">
    <div class="logo-claro">
      <a href="https://www.claroshop.com/" >
        <img src="assets/logo-cs.svg" alt="Claro shop" class="logoCs">
      </a>
    </div>
</div>

<div class="marginT_0 width100">
  <!-- modulo 1 check -->
  <div class="modulo paddingL_0 paddingR_0 sinBack maxWidth600 marginB_16">
    <div class="moduloTP border flex marginT_0 bordeCaja">
      <div class="ico-gracias">
        <img src="assets/icoCheckedb.png" alt="">
      </div>
      <p class="bloque1">¡Gracias por tu compra, tu pedido ha sido confirmado!</p>
    </div>
  </div>

  <!-- modulo 2 detalle pago -->
  <div class="modulo sinBack maxWidth600 marginT_0 marginB_32 paddingB_0">
    <div class="moduloTP border  marginT_0 marginB_0 bordeCaja">
      <div class="noPedido marginB_20">
        <p class="bloque1 font20">
          ¡ Hola <span  class="nombre">Arturo! </span></p>
        <p class="bloque1">Detalle de pedido:
          <span><a href="#!" class="rojoMasrojo">223344</a></span>
        </p>
      </div>
      <!-- Dirección -->
      <p class="marginB_20">Recibirás un correo con la información del estatus de tu pedido.</p>
      <div  class="flex marginB_20">
        <div class="ico-page">
          <img src="assets/Page.png" alt="">
        </div>
        <div>
          <p>Recuerda que las compras con cargo a tu recibo Telmex tienen un costo adicional por financiamiento que puedes ver en el detalle de tu compra.</p>
        </div>

      </div>
      <div  class="flex marginB_20">
        <div class="ico-page">
          <img src="assets/Page.png" alt="">
        </div>
        <div>
          <p>Las mensualidades se cargaran en tu recibo Telmex.</p>
        </div>
      </div>
      <div class="marginB_32">
        <p>Asegúrate de revisar la bandeja de correo no deseado.</p>
      </div>
      <div class="marginB_32">
        <p class="bloque2">Enviado a:</p>
        <p >Arturo Elias</p>
        <p >Lago zurich no. X Polanco, C.P. XXXX,</p>
        <p >Ciudad de México Tel. XXXXXXXXXXX</p>
      </div>

      <div class="marginB_32">
        <p class="bloque2">Productos comprados</p>
        <p class="marginB_10">Pedido realizado el jueves 26 de Abril</p>
      </div>

      <div>
        <!-- articulo 1 -->
        <div class="flex flex-wrap flex-between flex-start marginB_20">
          <div class="articulosImg">
            <div class="cont-img">
              <img src="assets/reloj.png" alt="">
            </div>
          </div>

          <div class="articulosDesc">
            <p class="rojoMasrojo">Audifonos Samsung Leve U Wireless Headphones Gol Celular Amigo Kit Apple.</p>
            <p>Cantidad:
              <span>1</span></p>
            <p>Vendido por:
              <span>Ibushak</span>
            </p>
            <p class="bloque2">Precio final:
              <span class="bloque2">$2,000.00</span>
            </p>
          </div>
        </div>
        <!-- articulo 2 -->
        <div class="flex flex-wrap flex-between flex-start marginB_20">
          <div class="articulosImg">
            <div class="cont-img">
              <img src="assets/reloj.png" alt="">
            </div>
          </div>

          <div class="articulosDesc">
            <p class="rojoMasrojo">Audifonos Samsung Leve U Wireless Headphones Gol Celular Amigo Kit Apple.</p>
            <p>Cantidad:
              <span>1</span></p>
            <p>Vendido por:
              <span>Ibushak</span>
            </p>
            <p class="bloque2">Precio final:
              <span class="bloque2">$2,000.00</span>
            </p>
          </div>
        </div>

        <!-- Forma de pago -->
        <p class="marginB_20 bloque2">Pago con:</p>

        <div class="formaPago">
          <div class="pago1">
            <div class="width100 descripPago">
              <div class="ico-pago">
                <img src="assets/T-telmex.jpg" alt="">
              </div>
              <div class="marginL_10 marginB_10">
                <p class="bloque2">Telmex</p>
                <p class="text-azul">XXXX pagos de $X,XXX.XX</p>

              </div>
            </div>
            <div>
              <p>A nombre de: Claroshop.com SAPI de C.V.</p>
              <p>No. de Cuenta: 0174244478</p>
              <p>CLABE: 012180001742444789</p>
              <p>No. de Referencia: XXXXX (No. de Pedido)</p>
            </div>
          </div>



          <!-- tabla de desglose -->
          <div class="desglosePago pago2">
            <div class="width70">
              <div class="tabla">
                <p>Subtotal</p>
                <p>$16,000.00</p>
              </div>
              <div class="zebra tabla">
                <p>Envio</p>
                <p>$00.00</p>
              </div>

              <div class="zebra tabla">
                <p class="bloque2">Total(IVA Incluido)</p>
                <p class="text-azul">$18,880.00</p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>



    <!-- gracias por tu preferencia -->
    <div class="maxWidth600 paddingT_16 marginB_20 paddingMob">
      <p class="bloque2 text-align">Gracias por tu preferencia</p>
      <p class="rojoMasrojo text-align">Claroshop.com</p>
      <p class="rojoMasrojo text-align">Una tienda para todos</p>
    </div>
    <!-- productos de tu navegación -->
    <div class="maxWidth600">
      <!-- <app-emarsys></app-emarsys> -->

      <!-- productos de tu navegación -->

      <h3 class="marginB_20 paddingMob">Relacionado a tu navegación</h3>


      <ui-carousel
        [autoPlay]="false"
        [dots]="false"
        height="350px">

        <ui-carousel-item
          width="300px">
          <a href="#">
            <div class="center marginAuto item-e">
              <img src=" assets/audifonos.png" class="imgEmarsys" alt="">
            </div>
            <p class="texto maxHeight"> Combo en tu hogar Combo en tu hogar Combo en tu hoga Combo en tu hogar Combo en tu hogar Combo en  Combo en tu hogar Combo en tu hogar tu hogarr</p>
            <div class="info-producto">
              <div class="precioLista">
                <p>$80.00</p>
              </div>
            </div>
            <div class="info-precios">
              <div class="precioDesc">
                <p>$ 40.00</p>
              </div>
              <div class="descTex">
                <span>-50%</span>
              </div>
            </div>
          </a>
        </ui-carousel-item>

        <ui-carousel-item
          width="300px">
          <a href="#">
            <div class="center marginAuto item-e">
              <img src=" assets/audifonos.png" class="imgEmarsys" alt="">
            </div>
            <p class="texto maxHeight"> Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar</p>
            <div class="info-producto">
              <div class="precioLista">
                <p>$80.00</p>
              </div>
            </div>
            <div class="info-precios">
              <div class="precioDesc">
                <p>$ 40.00</p>
              </div>
              <div class="descTex">
                <span>-50%</span>
              </div>
            </div>
          </a>
        </ui-carousel-item>

        <ui-carousel-item
          width="300px">
          <a href="#">
            <div class="center marginAuto item-e">
              <img src=" assets/audifonos.png" class="imgEmarsys" alt="">
            </div>
            <p class="texto maxHeight"> Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar </p>
            <div class="info-producto">
              <!-- <div class="precioLista">
                <p>$80.00</p>
              </div> -->
            </div>
            <div class="info-precios">
              <div class="precioDesc">
                <p>$ 40.00</p>
              </div>
              <!-- <div class="descTex">
                <span>-50%</span>
              </div> -->
            </div>
          </a>
        </ui-carousel-item>



        <ui-carousel-item
          width="300px">
          <a href="#">
            <div class="center marginAuto item-e">
              <img src=" assets/audifonos.png" class="imgEmarsys" alt="">
            </div>
            <p class="texto maxHeight"> Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar Combo en tu hogar </p>
            <div class="info-producto">
              <!-- <div class="precioLista">
                <p>$80.00</p>
              </div> -->
            </div>
            <div class="info-precios">
              <div class="precioDesc">
                <p>$ 40.00</p>
              </div>
              <!-- <div class="descTex">
                <span>-50%</span>
              </div> -->
            </div>
          </a>
        </ui-carousel-item>

      </ui-carousel>
      <!-- <div class="flex flex-wrap flex-between marginAuto">
          <div class="width30 marginL_0">
              <div class="wishlistButton"></div>
              <div class="cont-img2">
                  <img src="assets/reloj.png" alt="">
              </div>
              <p>Combo tu hogar en blanco</p>
              <div class="info-producto">
                  <div class="info-precios">
                      <div class="precioDesc">
                          <p>$13,999</p>
                      </div>
                      <div class="descTex">
                          <span>-17%</span>
                      </div>
                  </div>
                  <div class="cont-cart">
                      <img class="ico-cart" src="assets/cart.png" alt="">
                  </div>
              </div>
          </div>
          <div class="width30 marginL_0">
               <div class="wishlistButton"></div>
                  <div class="cont-img2">
                      <img src="assets/reloj.png" alt="">
                  </div>
                  <p>Combo tu hogar en blanco</p>
                  <div class="info-producto">
                      <div class="info-precios">
                          <div class="precioDesc">
                              <p>$13,999</p>
                          </div>
                          <div class="descTex">
                              <span>-17%</span>
                          </div>
                      </div>
                      <div class="cont-cart">
                          <img class="ico-cart" src="assets/cart.png" alt="">
                      </div>
                  </div>
              </div>
          <div class="width30 marginL_0">
              <div class="wishlistButton"></div>
                  <div class="cont-img2">
                      <img src="assets/reloj.png" alt="">
                  </div>
                  <p>Combo tu hogar en blanco</p>
                  <div class="info-producto">
                      <div class="info-precios">
                          <div class="precioDesc">
                              <p>$13,999</p>
                          </div>
                          <div class="descTex">
                              <span>-17%</span>
                          </div>
                      </div>
                      <div class="cont-cart">
                          <img class="ico-cart" src="assets/cart.png" alt="">
                      </div>
                  </div>
              </div>
      </div> -->

    </div>
    <!-- Aclaración -->
    <div class="maxWidth600 marginT_32 paddingMob">
      <p class="text-claro flex flex-start flex-wrap bloque2 noDecoration marginB_32">
        <span class="text-claro marginR_5">Centro de atención a clientes Claroshop</span> 01800 890 6566
        <span class="text-claro marginR_5 marginL_5"> ó </span>
        <a href="mailto:clientes@claroshop.com" >  clientes@claroshop.com  </a>
      </p>

    </div>
  </div>
  <hr>
  <div class="flex flex-between flex-wrap paddingMob">

    <div class="footer-logo marginB_10"><img src="assets/logo-cs.svg" alt=""></div>
    <p class="marginT_10 marginR_20">Derechos reservados © Claroshop.com, S.A.P.I. de C.V.</p>
  </div>

  <div class="modulo backNegro flex center paddingB_10 paddingT_10">
    <p> <a href="">Términos y condiciones</a>  |   </p>
    <p> <a href="">Políticas de privacidad</a></p>
  </div>
