<main>
    <div class="wrapper">
        <div class="container white padding_0 fix" *ngIf="!isApp">
                <div class="header-caja">
                    <div class="logo-cs">
                        <img src="assets/logo-cs.svg" alt="Claro shop" class="logo">
                    </div>
                </div>
        </div>
        <router-outlet></router-outlet>
        <app-spinner></app-spinner>
        <app-fraude></app-fraude>
    </div>
</main>
